<footer class="footer has-background-white">
  <section class="container">
    <div class="columns">
      <div class="column">
        <div class="menu">
          <p class="menu-label">關於我們</p>
          <ul class="menu-list">
            <li><a>關於 citiesocial</a></li>
            <li><a>隱私權保護政策</a></li>
            <li><a>服務條款</a></li>
          </ul>   
        </div>
      </div>

      <div class="column">
        <div class="menu">
          <p class="menu-label">聯絡我們</p>
          <ul class="menu-list">
            <li><a>02.2393.2610</a></li>
            <li><a>業務合作洽談</a></li>
          </ul>   
        </div>
      </div>

      <div class="column">
        <div class="menu">
          <p class="menu-label">自助查詢</p>
          <ul class="menu-list">
            <li><a>銀行優惠說明</a></li>
            <li><a>LINE Points 回饋說明</a></li>
            <li><a>預購商品查詢</a></li>
            <li><a>訂單出貨查詢</a></li>
            <li><a>配送進度查詢</a></li>
          </ul>   
        </div>
      </div>

      <div class="column">
        <div class="menu">
          <p class="menu-label">顧客服務</p>
          <ul class="menu-list">
            <li><a>VIEWS生活誌</a></li>
            <li><a>會員回饋計畫</a></li>
            <li><a>退換貨說明</a></li>
            <li><a>客服中心</a></li>
          </ul>   
        </div>
      </div>
    </div>
  </section>
</footer>

