<section class="product_list section">
  <section class="container">
    <div class="columns is-multiline">
      <% products.each do |product| %>
        <div class="column is-4">
          <div class="card product-item is-shadowless">
            <div class="card-image">
              <figure class="image">
                <%= link_to product do %>
                  <%= image_tag product.cover_image.variant(resize: '430x290') if product.cover_image.attached? %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4 class="is-size-6"><%= product.vendor.title %></h4>
                <p><%= link_to product.name, product, class: 'has-text-dark' %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</section>
