<section class="product_list section">
  <h2 class="is-size-4 has-text-centered">限時閃購商品 － 全台獨家優惠</h2>

  <section class="container">
    
    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="card product-item is-shadowless">
          <div class="card-image">
            <figure class="image">
              <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="is-size-6">Bermas</h4>
              <p>30"超輕防刮大容量行李箱 完全收納</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card product-item is-shadowless">
          <div class="card-image">
            <figure class="image">
              <img src="https://images.unsplash.com/photo-1511044568932-338cba0ad803?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="is-size-6">美國, Honeywell</h4>
              <p>智慧抗敏空氣清淨機 兩年份耗材</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card product-item is-shadowless">
          <div class="card-image">
            <figure class="image">
              <img src="https://images.unsplash.com/photo-1488015795646-7e22a773d72a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="is-size-6">韓國, Xivestory</h4>
              <p>獸首無痕掛勾 居家風格更性格</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card product-item is-shadowless">
          <div class="card-image">
            <figure class="image">
              <img src="https://images.unsplash.com/photo-1541781774459-bb2af2f05b55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="is-size-6">日本, AUX®</h4>
              <p>大人的鐵板與實木托盤 極厚就是優秀</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
