<section class="section">
  <h1 class="title">購物車
    <%= link_to cart_path, class: 'is-size-5', method: :delete, data: {confirm: '確定清空購物車?'} do %>
      <i class="far fa-trash-alt"></i>
      <span>清空購物車</span>
    <% end %>
  </h1>
  <%= render 'cart' %>
</section>

