<div class="columns nested-fields">
  <div class="column is-6">
    <div class="field">
      <%= form.label :spec, '規格', class: 'label' %>
      <%= form.text_field :spec, class: 'input' %>
    </div>
  </div>
  <div class="column is-2">
    <div class="field">
      <%= form.label :quantity, '數量', class: 'label' %>
      <%= form.number_field :quantity, class: 'input' %>
    </div>
  </div>
  <div class="column is-1">
    <div class="field">
      X
    </div>
  </div>
  <div class="column">
  </div>
</div>

