<section class="container">

  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">健康養生</a></li>
      <li><a href="#">輔具器材</a></li>
      <li class="is-active"><a href="#" aria-current="page">按摩伸展</a></li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column is-7">
      <figure class="image">
        <%= image_pack_tag 'cats/cat1.jpeg' %>
      </figure>

      <article class="content">
        <h4>產品特色</h4>
        <p>
          全新升級版本和一般按摩槍打擊幅度較大
          美歸馬達續航力強：6-8小時電池續航沉穩安靜
          三檔強度可調節：每分鐘可提供高達3200次震擊，適合不同受力程度
          降造更升級，實際測量最低僅36分貝，不吵躁，不影響使用心情
          升級六種按摩頭可替換：隨時依自己身體需求做調整，隨時享受各種按摩體驗
        </p>
      </article>
    </div>

    <div class="column is-5">
      <h3 class="has-text-grey-light">YOULISN</h3>
      <h2 class="title is-4">天王深層震動按摩槍-進階版</h2>
      <p class="has-text-primary is-size-4">NTD 8,811 NTD 27,600 (免運費)</p>
      <hr>
      <div class="columns">
        <div class="column is-3 is-size-4 has-text-right">
          數量
        </div>
        <div class="column is-9 field is-grouped">
          <a href="#" class="button is-white is-medium">-</a>
          <input type="number" name="quantity" class="input is-medium has-text-centered" value="1">
          <a href="#" class="button is-white is-medium">+</a>
        </div>
      </div>
      <a href="#" class="button is-primary is-medium is-fullwidth">加到購物車</a>
    </div>
  </div>
</section>

